[project]
	description = Individual user settings and preferences.
[access "refs/users/${shardeduserid}"]
	exclusiveGroupPermissions = read push submit
	read = group Registered Users
	push = group Registered Users
	label-Code-Review = -2..+2 group Registered Users
	submit = group Registered Users
[access "refs/users/default"]
	exclusiveGroupPermissions = read create push
	read = group Administrators
	create = group Administrators
	push = group Administrators
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
